

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background: black;
  overflow-x: hidden;
}

body{
 font-family: 'AchtungIsobar', "Helvetica Neue", Helvetica, Arial, sans-serif;
 margin: 0 8px 80px 8px;
 overflow-x: hidden;
}

.p-canvas-webgl {
  position: fixed;
  z-index: 0;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

.container{
  width: 100%;
  max-width: 900px;
  margin: auto;
  pointer-events: none;
}

.heading-container{
  width: 100% !important;
  position: relative;
  overflow: hidden;
  pointer-events: none !important;

}
.heading-img{
  width: 100% !important;
  opacity: 0;
}
.heading-element{
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
.heading-element.question{
  opacity: 1;
  width:16%;
  height: auto;
  left:72.5%;
  top:26%;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  pointer-events: all;
  cursor: pointer;
}
.heading-element.question:hover{
  transform: rotate(10deg) scale(1.1);
}
.heading-element.question:active{
  transform: rotate(-20deg) scale(0.5);
}
.heading-element.question img{
  opacity: 1 !important;
  width: 100% !important;
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;
}
.heading-element.cloud1{
background-image: url(../img/Cloud1.png);
transition: transform 0.5s ease-in-out, opacity 0.1s ease;
transform: translateY(10%);
opacity: 0;
}
.heading-element.cloud2{
  background-image: url(../img/Cloud2.png);
  transition: transform 0.3s ease-in-out, opacity 0.1s ease;
  transform: translateY(5%);
  opacity: 0;
}
.heading-element.rocket{
  background-image: url(../img/Rocket.png);
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease;
  transform: translateX(-23%) translateY(90%);
  opacity: 0;
}
.heading-element.title{
  background-image: url(../img/Title2.png);
  transition: transform 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.1s ease;
  transform: rotate(20deg) translateY(10%) scale(0.8);
  opacity: 0;
}

.loaded .rocket{
  transform: translateX(0%) translateY(3.23%);
  opacity: 1;
}
.loaded .title{
  transform: rotate(0deg) translateY(0%) scale(1);
  opacity: 1;
}
.loaded .cloud1{
  transform: translateY(0%);
  opacity: 1;
}
.loaded .cloud2{
  transform: translateY(0%);
  opacity: 1;
}

.loaded .latest-events{
  opacity: 1;

}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.latest-events{
  transition: opacity 0.1s ease-in;
  background:white;
  border-radius: 0 0 30px 30px;
  padding: 5px 0;
  display: flex;
  opacity: 0;
  flex-direction: column;
  overflow:hidden;
  pointer-events: all;
  z-index: 10;
  position: relative;
  opacity: 0;
}
.event{
  width: 90%;
  border-radius: 20px;
  background: rgba(0,0,0,0.02);
  display: block;
  margin: 10px auto;
  transition: background 0.3s ease-in-out, transform 0.19s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  display: flex;
  flex-direction: row;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: black;
}

.submit{
  cursor: pointer;
  width: 90%;
  height: 30px;
  border-radius: 20px;
  background: #00D872;
  color: black;
  display: block;
  margin: 10px auto;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
  position: relative;
  font-size: 1.3rem;
  margin-top: 50px;
}
.submit:hover{
  background: black;
  color:white;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


.event .graphic{
  border-radius: 20px;
  width:  120px;
  height: 120px;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.event .graphic img{
  width: 100%;
  object-fit: cover;
}

.event:hover{
  cursor: pointer;
  background: #eeeeee;
}

.event.ready::after{
  content:'';
  position: absolute;
  top:50%;
  right:-150px;
  transform: translateY(-50%);
  width:50px;
  height: 50px;
  border-radius: 100px;
  background: black;
  transition: right 0.19s cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.event.ready::before{
  content:'';
  position: absolute;
  top:50%;
  right:0px;
  transform: translateY(-50%);
  width:50px;
  height: 50px;
  border-radius: 100px;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: background 0.19s ease-in;
  color: grey;
  z-index: 10;
  background-image: url('data:image/svg+xml,<svg style="fill:grey" width="100pt" height="100pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="m28.309 19.844-0.31641-0.70703v-11.141c0-0.86719 1.1016-1.3398 1.7305-0.70703l41.969 42.008c0.39453 0.39453 0.39453 1.0234 0 1.418l-41.969 42.008c-0.62891 0.62891-1.7305 0.15625-1.7305-0.70703l0.039062-11.457c0.43359-1.2617 27.125-27.285 30.434-30.551l-30.156-30.156z"/></svg>');
}
.event.ready:hover::before{
  background-image: url('data:image/svg+xml,<svg style="fill:white" width="100pt" height="100pt" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="m28.309 19.844-0.31641-0.70703v-11.141c0-0.86719 1.1016-1.3398 1.7305-0.70703l41.969 42.008c0.39453 0.39453 0.39453 1.0234 0 1.418l-41.969 42.008c-0.62891 0.62891-1.7305 0.15625-1.7305-0.70703l0.039062-11.457c0.43359-1.2617 27.125-27.285 30.434-30.551l-30.156-30.156z"/></svg>');
}

.event:active{
  transform: translateY(3px);
}

.info{
  margin-left:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  font-size:2rem;
  margin-bottom:20px;

}
.subtitle{
  font-size:1rem;
  margin-bottom:0px;
}

@media only screen
  and (min-width: 768px)  {

    body{
     margin: 0 20px 80px 20px;
    }
    .event{
      padding: 20px;
    }
    .event .graphic{
      width:  200px;
      height: 200px;
    }
    .event.ready::before{
      right:7%;
      width:100px;
      height: 100px;
    }
    .event.ready::after{
      right:-150px;
      width:100px;
      height: 100px;
      transform: translateX(-3px) translateY(-50%);
    }
    .event.ready:hover::after{
      right:7%;
    }
    .submit{
      font-size: 2rem;
      padding: 30px 5px;

    }
    .info{
      margin-left:50px;
    }

    .title{
      font-size:3rem;
      margin-bottom:20px;

    }
    .subtitle{
      font-size:1.3rem;
      margin-bottom:0px;
    }
    .latest-events{
      border-radius: 0 0 40px 40px;
      padding: 30px 0;
    }

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
