@font-face {
    font-family: 'AchtungIsobar';
    src: url('AchtungIsobar-Bold.woff2') format('woff2'),
        url('AchtungIsobar-Bold.woff') format('woff'),
        url('AchtungIsobar-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AchtungIsobar';
    src: url('AchtungIsobar-Regular.woff2') format('woff2'),
        url('AchtungIsobar-Regular.woff') format('woff'),
        url('AchtungIsobar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

